@model IEnumerable<CODEFIRST_ASP.NET.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Employees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.EmpID)</th>
            <th>@Html.DisplayNameFor(m => m.Name)</th>
            <th>@Html.DisplayNameFor(m => m.Address)</th>
            <th>@Html.DisplayNameFor(m => m.Email)</th>
            <th>@Html.DisplayNameFor(m => m.Age)</th>
            <th>@Html.DisplayNameFor(m => m.Status)</th>
            <th>@Html.DisplayNameFor(m => m.IsActive)</th>
            <th>@Html.DisplayNameFor(m => m.Rank)</th>
            <th>@Html.DisplayNameFor(m => m.Description)</th>
            <th>@Html.DisplayNameFor(m => m.Create)</th>
            <th>@Html.DisplayNameFor(m => m.CreatedBy)</th>
        </tr>
    </thead>


    <tbody>
        @foreach (var employees in Model)
        {
        <tr>
            <td>@Html.DisplayFor(m => employees.EmpID)</td>
            <td>@Html.DisplayFor(m => employees.Name)</td>
            <td>@Html.DisplayFor(m => employees.Address)</td>
            <td>@Html.DisplayFor(m => employees.Email)</td>
            <td>@Html.DisplayFor(m => employees.Age)</td>
            <td>@Html.DisplayFor(m => employees.Status)</td>
            <td>@employees.IsActive</td>
            <td>@Html.DisplayFor(m => employees.Rank)</td>
            <td>@Html.DisplayFor(m => employees.Description)</td>
            <td>@Html.DisplayFor(m => employees.Create)</td>
            <td>@Html.DisplayFor(m => employees.CreatedBy)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = employees.EmpID }) |
                @Html.ActionLink("Delete", "Delete", new { id = employees.EmpID })
            </td>
        </tr>

        }
    </tbody>
</table>  